In [1]:
# Dependencies

from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import sql_mystery_stuff

In [2]:
# Create Engine

engine = create_engine(sql_mystery_stuff)
conn = engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
# salaries.head(10)

# Renaming Columns for a cleaner look
salaries_clean = salaries.rename(columns={"emp_no": "Employee Number", "salary": "Salary", "from_date" : "From Date", "to_date" : "To Date"})
salaries_clean.head(10)

In [ ]:
# Renaming Columns for a cleaner look
employees_clean = employees.rename(columns={"emp_no": "Employee Number", "birthdate": "Birth Date", "first_name" : "First Name", "last_name" : "Last Name", "gender" : "Gender", "hire_date" : "Hire Date"})
employees_clean.head(10)

In [ ]:
# Departments Dataframe

departments = pd.read_sql("SELECT * FROM departments", conn)
departments.head(10)

departments_clean = departments.rename(columns={"dept_name": "Department Name", "dept_no": "Department Number"})
departments_clean.head(10)

In [ ]:
# Titles Dataframe

titles = pd.read_sql("SELECT * FROM titles", conn)
# titles.head(10)

titles_clean = titles.rename(columns={"emp_no": "Employee Number", "title": "Title", "from_date" : "From Date", "to_date" : "To Date"})
titles_clean.head(10)

In [ ]:
# Merge DF -- on Employee Number, common -- Salaries and Titles [TEST 1]

salaries_titles = pd.merge(salaries_clean, titles_clean, on="Employee Number", how="inner")
salaries_titles.head(10)

In [ ]:
# Merge DF -- Employees and Salaries [TEST 2]

employees_salaries = pd.merge(employees_clean, salaries_clean, on="Employee Number", how="inner")
employees_salaries.head(10)

In [ ]:
# Salaries and Titles Groupby [TEST 1]
# Creating a groupby because what we want is said title and a mean of the salary by title

salaries_titles_grouped_df = salaries_titles.groupby("Title").mean()
salaries_titles_grouped_df

In [ ]:
 Salaries and Titles Groupby [TEST 1]
# Dropping the Employee Number as it's no longer needed, makes it easier to visualize the plots

title_salary_df = salaries_titles_grouped_df.drop(columns = "Employee Number")
title_salary_df = title_salary_df.reset_index()
title_salary_df

In [ ]:
# Salary by Department Employee [TEST 3]

salaries_dept_employee = pd.merge(salaries_clean, dept_employee_clean, on="Employee Number", how="inner")
salaries_dept_employee.head(10)

In [ ]:
# Salary by Employees [TEST 4]

salaries_employees = pd.merge(salaries_clean, employees_clean, on="Employee Number", how="inner")
salaries_employees.head(10)

In [ ]:
# Merge Departments and Department Employee

dept_dept_emp = pd.merge(departments_clean, dept_employee_clean, on="Department Number", how="inner")
dept_dept_emp.head(10)

In [ ]:
second_merge_on_emp_no.columns

In [ ]:
# Drop and Clean

clean_second_merge = second_merge_on_emp_no.drop(columns = ["From Date_x", "To Date_x", "From Date_y", "To Date_y", "Department Number", "Hire Date", "Birth Date"])
clean_second_merge.head()

In [ ]:
# Salary mean() using clean_second_merge

clean_second_merge_groupby = clean_second_merge.groupby("Department Name").mean()
clean_second_merge_groupby

In [ ]:
# Drop and Clean

dept_name_salaries = clean_second_merge_groupby.drop(columns = "Employee Number")
dept_name_salaries

In [ ]:

# SECOND IDEA -- Doing hist based on a mean of salaries and Department Name which should support the entire idea
# of what defines a deparmtent 

# Plotting Salary and Department Name [HIST 1]

plt.hist(clean_second_merge["Salary"], color='purple', alpha=1);

plt.xlabel("\nSALARY RANGE ($)", weight="bold");
plt.ylabel("NUMBER OF EMPLOYEES\n", weight="bold");
plt.title("SALARY RANGE PER EMPLOYEES\n", weight="bold", size=15)

plt.grid()
plt.tight_layout()

plt.savefig("Hist_By_Dept_Salaries_Range.png")

In [ ]:
# -- -- -- -- -- -- -- -- -- -- -- -- [EPILOGUE] -- -- -- -- -- -- -- -- -- -- -- -- --

# Evidence in hand, you march into your boss's office and present the visualization. 
# With a sly grin, your boss thanks you for your work. On your way out of the office, 
# you hear the words, "Search your ID number." You look down at your badge to see 
# that your employee ID number is 499942.

# UPDATED: Was told there is an easter egg, with April Foolsday, need the 
# table that includes a first and last name, from PostgreSQL, it was under employees



# salaries_titles.loc[salaries_titles["Employee Number"] == 499942]

# titles_clean.loc[titles_clean["Employee Number"] == 499942]

# salaries_clean.loc[salaries_clean["Employee Number"] == 499942]

employees_clean.loc[employees_clean["Employee Number"] == 499942]

In [ ]:
salaries_titles.loc[salaries_titles["Employee Number"] == 499942]

In [ ]:

titles_clean.loc[titles_clean["Employee Number"] == 499942]

In [ ]:
salaries_clean.loc[salaries_clean["Employee Number"] == 499942]

In [ ]:
clean_second_merge.loc[clean_second_merge["Employee Number"] == 499942]